@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import "colores";


@mixin tamano($width, $height) {
    width: $width;
    height: $height;
}
  

body{ 
    background-color: map-get($estilos, color);
    overflow-x: hidden;
}

.grid-inicio {
    display: grid;
    grid-template-columns: 50px 450px 100px;
    grid-template-rows: 200px 100px 10px;
    grid-template-areas: "logo h2 h2"
                         "logo h4 h4";
    align-items: start;
    align-content: start;
    justify-content: space-between;
    justify-items: start;

}


.logo {
    grid-area: logo;
    @include tamano(200px, 200px);
    -webkit-border-radius: 100px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.h2{
    grid-area: h2;
    font-family: 'Luckiest Guy', cursive;
    color: $colorTitulos;
    margin-top: 100px;
    margin-right: 20px;
    font-size: 90px;
    width: 100%;
    text-align: map-get($estilos, centro);
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.h4{
    grid-area: h4;
    font-family: Arial, Helvetica, sans-serif;
    color: $colorTitulos;
    align-content: map-get($estilos, centro);
    text-align: map-get($estilos, centro);
    font-size: 25px;
    margin-left: 100px;
    align-self: start;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.h3 {
    font-family: 'Luckiest Guy', cursive;
    color: $colorTitulos;
    font-size: 30px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.display-2{
    font-family: 'Luckiest Guy', cursive;
    color: $colorTitulos;
    font-size: 70px;
    text-align: map-get($estilos, centro);
}



.text-center{
    font-family: Arial, Helvetica, sans-serif;
    color: $colorTextos;
    font-size: 20px;
    text-align: map-get($estilos, centro);
    margin-top: 30px;
    .link1 {
        color: map-get($estilos, link);
        &:hover {
            color: #cf0a66;
        }
    }
}



.texto {
    font-family: Arial, Helvetica, sans-serif;
    color: $colorTextos;
    font-size: 20px;
    text-align: start;
    margin-top: 20px;
}



.menu {
    background-color: $colorMenu;
    margin-top: 40px;
    .nav-item {
        font-family: Arial, Helvetica, sans-serif;
        align-content: map-get($estilos, centro);
        font-size: 25px;
        list-style: none;
        .nav-link {
            color: $colorTextos;
            &:hover {
                color: map-get($estilos, color);
            }
        }
    }
}



.menu2 {
    @extend .menu;
    margin-top: 0px;
}





.fotos{
    @include tamano(150px, 150px);        
    -webkit-border-radius: 100px;
    margin-left: 330px;
    margin-top: 50px;
}



.desplegable {
    display: none;
}



a{
    color: $colorTextos;
    text-decoration: none;  
}



.form-row {
    margin-top: 30px;        
    .form-group{
        color: $colorTextos;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: map-get($estilos, centro);
        display: block;
        margin:auto; 
        margin-top: 40px;
        .form-control {
            color: $colorTextos;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
        }  
    }
}



.formReserva {
    color: $colorTextos;
    .form-group{
        color: $colorTextos;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: map-get($estilos, centro);
        display: block;
        margin:auto; 
        margin-top: 40px;
        .form-control {
            color: $colorTextos;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
        }  
    }
}



.card-deck {
    text-align: map-get($estilos, centro);            
    .card {
        @include tamano(15%, 15%);
        display: inline-block;
        .card-img-top {
            object-fit: fill;
            @include tamano(200px, 200px);
        }
    }
}



.imagenFrasco {
            object-fit: fill;
            @include tamano(200px, 222px);
}



.card-title {
    color: $colorTextos;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

      

.card-text {
    @extend .card-title;
    color: map-get($estilos, link);
}



.redes{
    margin-left: 550px;
    .red {
        @include tamano(50px, 50px);
        -webkit-border-radius: 100px;
        margin-top: 50px;
    }
}










@media (min-width: 320px) and (max-width: 470px) {

    body { 
        background-color: map-get($estilos, color);
        overflow-x: hidden;
        width: 95%;
    }
    

    
    .dropdown-menu {
        background-color: $colorMenu;   
        .dropdown-item {
            font-family: Arial, Helvetica, sans-serif;
            text-align: map-get($estilos, centro);
            color: $colorTextos;
            width: 100%;
            padding: 0%;
        }

    }

    .grid-inicio {
        display: grid;
        grid-template-columns: 45px 470px;
        grid-template-rows: 130px 125px;
        grid-template-areas: "logo logo"
                             "h2 h2"
                             "h4 h4";
        align-items: start;
        align-content: start;
    }


    .logo {
        grid-area: logo;
        width: 200px;
        height: 200px;
        -webkit-border-radius: 100px;
        margin-left: 55%;
        @include tamano(150px, 150px);
        -webkit-border-radius: 100px;
        text-align: map-get($estilos, centro);
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count:initial;
    }
    
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    

    .h2{
        grid-area: h2; 
        font-family: 'Luckiest Guy', cursive;
        color: $colorTitulos;
        font-size: 50px;
        text-align: map-get($estilos, centro);
        width: 50%; 
        margin-top: 55%;  
        margin-left: 18%;   
        align-self: start;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count:initial;
    }
    
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    


    .h4{
        grid-area: h4;
        font-family: Arial, Helvetica, sans-serif;
        color: $colorTitulos;
        text-align: map-get($estilos, centro);
        font-size: 25px;  
        width: 50%; 
        margin-left: 5%;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count:initial;
    }
    
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }



    .h3 {
        font-family: 'Luckiest Guy', cursive;
        color: $colorTitulos;
        font-size: 20px;
        width: 100%;
        text-align: left;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count:initial;
    }
    
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }    



    .display-2 {
        font-family: 'Luckiest Guy', cursive;
        color: $colorTitulos;
        font-size: 35px;
        text-align: map-get($estilos, centro);
        width: 100%;
        margin-left: 5%;
    }



    .text-center {
        width: 100%;
        font-size: 20px;
        text-align: map-get($estilos, centro);
    }



    .menu{
        background-color: $colorMenu;
        border: $colorMenu;
        justify-content: map-get($estilos, centro);
        margin-left: 3%;
        width: 100%;
        margin-top: 20%;    
        .nav-item{
            font-size: 30px;
            text-align: map-get($estilos, centro);
        }
    }
    


    .menu2{
        display: none;
    }



    .desplegable{
        display: block;
        background-color: $colorMenu;
        border: $colorMenu;
        justify-content: map-get($estilos, centro);
        width: 105%;
        box-sizing: content-box;    
        .item {
            font-size: 20px;
            display: block;
            margin:auto;
        }
    }



    .link:hover {
        color: map-get($estilos, color);
    }



    .imagenes {
        display: none;
    }



    a {
        font-family: Arial, Helvetica, sans-serif;
        color: map-get($estilos, link);
        font-size: 15px;
        text-align: map-get($estilos, centro);
        width: 100%;
    }



    .card-deck {
        text-align: map-get($estilos, centro);            
        .card {
            @include tamano(80%, 50%);
            display: inline-block;
            .card-img-top {
                object-fit: fill;
                @include tamano(150px, 150px);
            }
        }
    }
    
    
    
    .imagenFrasco {
                object-fit: fill;
                @include tamano(150px, 152px);
    }
    
    
    
    .card-title {
        color: $colorTextos;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    
          
    
    .card-text {
        color: map-get($estilos, link);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }



    textarea {
        width: 80%;
    }

    

    .link1:hover {
        color: #cf0a66;
    }
        


    .redes{
        display: block;
        margin: auto;
        text-align: map-get($estilos, centro);
        width: 100%;    
        .red {
            @include tamano(50px, 50px);
            -webkit-border-radius: 100px;
        }
    }
     

}