@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

    
body{ 
    background-color: #FFDDDD;
    overflow-x: hidden;
}


.img-circle {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.h1{
    font-family: 'Luckiest Guy', cursive;
    color: #DF7CE8;
    margin-top: 250px;
    font-size: 100px;
    width: 150%;
    text-align: center;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #DF7CE8;
    align-content: center;
    text-align: center;
    width: 100%;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




.display-2{
    font-family: 'Luckiest Guy', cursive;
    color: #DF7CE8;
    font-size: 70px;
    text-align: center;
}



.h3 {
    font-family: 'Luckiest Guy', cursive;
    color: #DF7CE8;
    font-size: 30px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.text-center{
    font-family: Arial, Helvetica, sans-serif;
    color: #C726FF;
    font-size: 20px;
    text-align: center;
}

.text-center1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #C726FF;
    font-size: 20px;
    text-align: start;
}

.container-fluid1{
    background-color: #F6B3FC;
    margin-top: 30px;
}

.container-fluid11 {
    background-color: #F6B3FC;
}

.container-fluid12 {
    display: none;
}   

.nav-item {
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    font-size: 25px;
    list-style: none;
}

.nav-link {
    color: #C726FF;
}


a{
    color: #C726FF;
    text-decoration: none;  
}



.pagina {
    color: #FFDDDD;
}



.img-circle1{
    width: 150px;
    height: 150px;
    -webkit-border-radius: 100px;
    margin-left: 330px;
}

.container-fluid3{
    margin-left: 550px;
}

.img-circle2 {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 100px;
}


.form-group{
    color: #C726FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    display: block;
    margin:auto;   
}


.card-deck {
    text-align: center;
}

.card {
    width: 10%;
    height: 10%;
    display: inline-block;
}

.card-title {
    color: #C726FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.form-control {
    color: #C726FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}




.link {
    color: #1EA6F2;
}






@media (min-width: 320px) and (max-width: 470px) {

    body { 
        background-color: #FFDDDD;
        overflow-x: hidden;
        width: 95%;
    }
    
    
    .img-circle {
        display: block;
        margin:auto;
        width: 150px;
        height: 150px;
        -webkit-border-radius: 100px;
        text-align: center;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count:initial;
    }
    
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    
    .h1{
        font-family: 'Luckiest Guy', cursive;
        color: #DF7CE8;
        font-size: 55px;
        text-align: center;
        width: 100%;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count:initial;
    }
    
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    
    .h4{
        font-family: Arial, Helvetica, sans-serif;
        color: #DF7CE8;
        text-align: center;
        font-size: 25px;  
        width: 100%; 
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count:initial;
    }
    
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .container-fluid1{
        background-color: #F6B3FC;
        border: #F6B3FC;
        justify-content: center;
        margin-left: 3%;
        width: 100%;
        margin-top: 70%;
    }
    
    .nav-item{
        font-size: 30px;
        text-align: center;
    }

    .container-fluid11{
        display: none;
    }


    .container-fluid12{
        display: block;
        background-color: #F6B3FC;
        border: #F6B3FC;
        justify-content: center;
        width: 105%;
        box-sizing: content-box;
    }

    .nav-item1 {
        font-size: 20px;
        display: block;
        margin:auto;
    }

    .dropdown-menu {
        background-color: #F6B3FC;

    }

    .dropdown-item {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: #C726FF;
        width: 100%;
        padding: 0%;
    }

    .container-fluid2 {
        display: none;
    }


    .h3 {
        font-family: 'Luckiest Guy', cursive;
        color: #DF7CE8;
        font-size: 20px;
        width: 100%;
        text-align: left;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count:initial;
    }
    
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .display-2 {
        font-family: 'Luckiest Guy', cursive;
        color: #DF7CE8;
        font-size: 35px;
        text-align: center;
        width: 100%;
        margin-left: 5%;
    }

    .text-center {
        width: 100%;
        font-size: 15px;
        text-align: center;
    }

    a {
        font-family: Arial, Helvetica, sans-serif;
        color: #1EA6F2;
        font-size: 15px;
        text-align: center;
        width: 100%;
    }


    .container-fluid3{
        display: block;
        margin: auto;
        text-align: center;
        width: 100%;
    }
    
    .img-circle2 {
        width: 50px;
        height: 50px;
        -webkit-border-radius: 100px;
    }


    textarea {
        width: 80%;
    }    
    

    .card {

        display:inline;
    }

    .card-img-top {
        width: 50%;
        height: 50%;
    }
    

}