@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import "colores";
  

body{ 
    background-color: #FFDDDD;
    overflow-x: hidden;
}



.img-circle {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.h1{
    font-family: 'Luckiest Guy', cursive;
    color: $colorTitulos;
    margin-top: 250px;
    font-size: 100px;
    width: 150%;
    text-align: center;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.h4{
    font-family: Arial, Helvetica, sans-serif;
    color: $colorTitulos;
    align-content: center;
    text-align: center;
    width: 100%;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.h3 {
    font-family: 'Luckiest Guy', cursive;
    color: $colorTitulos;
    font-size: 30px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count:initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.display-2{
    font-family: 'Luckiest Guy', cursive;
    color: $colorTitulos;
    font-size: 70px;
    text-align: center;
}



.text-center{
    font-family: Arial, Helvetica, sans-serif;
    color: $colorTextos;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    .link1 {
        color: #1EA6F2;
        &:hover {
            color: #cf0a66;
        }
    }
}



.texto {
    font-family: Arial, Helvetica, sans-serif;
    color: $colorTextos;
    font-size: 20px;
    text-align: start;
    margin-top: 20px;
}



.menu {
    background-color: #F6B3FC;
    margin-top: 40px;
    .nav-item {
        font-family: Arial, Helvetica, sans-serif;
        align-content: center;
        font-size: 25px;
        list-style: none;
        .nav-link {
            color: $colorTextos;
            &:hover {
                color: #FFDDDD;
            }
        }
    }
}



.menu2 {
    background-color: #F6B3FC;
    margin-top: 0px;
    .nav-item {
        font-family: Arial, Helvetica, sans-serif;
        align-content: center;
        font-size: 25px;
        list-style: none;
        .nav-link {
            color: $colorTextos;
            &:hover {
                color: #FFDDDD;
            }
        }
    }
}




.fotos{
    width: 150px;
    height: 150px;        
    -webkit-border-radius: 100px;
    margin-left: 330px;
    margin-top: 50px;
}



.desplegable {
    display: none;
}



a{
    color: $colorTextos;
    text-decoration: none;  
}



.form-row {
    margin-top: 30px;        
    .form-group{
        color: $colorTextos;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: center;
        display: block;
        margin:auto; 
        margin-top: 40px;
        .form-control {
            color: $colorTextos;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
        }  
    }
}



.formReserva {
    color: $colorTextos;
    .form-group{
        color: $colorTextos;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: center;
        display: block;
        margin:auto; 
        margin-top: 40px;
        .form-control {
            color: $colorTextos;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
        }  
    }
}



.card-deck {
    text-align: center;            
    .card {
        width: 15%;
        height: 15%;
        display: inline-block;
        .card-img-top {
            object-fit: fill;
            width: 200px;
            height: 200px;
        }
    }
}



.imagenFrasco {
            object-fit: fill;
            width: 200px;
            height: 222px;
}



.card-title {
    color: $colorTextos;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

      

.card-text {
    color: #1EA6F2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}



.redes{
    margin-left: 550px;
    .red {
        width: 50px;
        height: 50px;
        -webkit-border-radius: 100px;
        margin-top: 50px;
    }
}










@media (min-width: 320px) and (max-width: 470px) {

    body { 
        background-color: #FFDDDD;
        overflow-x: hidden;
        width: 95%;
    }
    

    
    .dropdown-menu {
        background-color: #F6B3FC;   
        .dropdown-item {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            color: $colorTextos;
            width: 100%;
            padding: 0%;
        }

    }



    .img-circle {
        display: block;
        margin:auto;
        width: 150px;
        height: 150px;
        -webkit-border-radius: 100px;
        text-align: center;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count:initial;
    }
    
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    

    .h1{
        font-family: 'Luckiest Guy', cursive;
        color: $colorTitulos;
        font-size: 55px;
        text-align: center;
        width: 100%;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count:initial;
    }
    
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    


    .h4{
        font-family: Arial, Helvetica, sans-serif;
        color: $colorTitulos;
        text-align: center;
        font-size: 25px;  
        width: 100%; 
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count:initial;
    }
    
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }



    .h3 {
        font-family: 'Luckiest Guy', cursive;
        color: $colorTitulos;
        font-size: 20px;
        width: 100%;
        text-align: left;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count:initial;
    }
    
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }    



    .display-2 {
        font-family: 'Luckiest Guy', cursive;
        color: $colorTitulos;
        font-size: 35px;
        text-align: center;
        width: 100%;
        margin-left: 5%;
    }



    .text-center {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }



    .menu{
        background-color: #F6B3FC;
        border: #F6B3FC;
        justify-content: center;
        margin-left: 3%;
        width: 100%;
        margin-top: 80%;    
        .nav-item{
            font-size: 30px;
            text-align: center;
        }
    }
    


    .menu2{
        display: none;
    }



    .desplegable{
        display: block;
        background-color: #F6B3FC;
        border: #F6B3FC;
        justify-content: center;
        width: 105%;
        box-sizing: content-box;    
        .item {
            font-size: 20px;
            display: block;
            margin:auto;
        }
    }



    .link:hover {
        color: #FFDDDD;
    }



    .imagenes {
        display: none;
    }



    a {
        font-family: Arial, Helvetica, sans-serif;
        color: #1EA6F2;
        font-size: 15px;
        text-align: center;
        width: 100%;
    }



    .card-deck {
        text-align: center;            
        .card {
            width: 80%;
            height: 50%;
            display: inline-block;
            .card-img-top {
                object-fit: fill;
                width: 150px;
                height: 150px;
            }
        }
    }
    
    
    
    .imagenFrasco {
                object-fit: fill;
                width: 150px;
                height: 152px;
    }
    
    
    
    .card-title {
        color: $colorTextos;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    
          
    
    .card-text {
        color: #1EA6F2;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }



    textarea {
        width: 80%;
    }

    

    .link1:hover {
        color: #cf0a66;
    }
        


    .redes{
        display: block;
        margin: auto;
        text-align: center;
        width: 100%;    
        .red {
            width: 50px;
            height: 50px;
            -webkit-border-radius: 100px;
        }
    }
     

}