@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
body {
  background-color: #FFDDDD;
  overflow-x: hidden;
}

.grid-inicio {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "logo hijo" "logo hijo";
  align-items: start;
  align-content: start;
  justify-content: space-between;
  justify-items: start;
}

.logo {
  grid-area: logo;
  margin-left: 5%;
  margin-top: 2%;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 100px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.grid-hijo {
  grid-area: hijo;
  justify-content: start;
  margin-top: 2%;
}

.h1 {
  font-family: "Luckiest Guy", cursive;
  color: #DF7CE8;
  font-size: 90px;
  width: 100%;
  text-align: center;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #DF7CE8;
  align-content: center;
  text-align: center;
  font-size: 25px;
  align-self: start;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.h3 {
  font-family: "Luckiest Guy", cursive;
  color: #DF7CE8;
  font-size: 30px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.display-2 {
  font-family: "Luckiest Guy", cursive;
  color: #DF7CE8;
  font-size: 70px;
  text-align: center;
}

.text-center {
  font-family: Arial, Helvetica, sans-serif;
  color: #C726FF;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}
.text-center .link1 {
  color: #1EA6F2;
}

.texto {
  font-family: Arial, Helvetica, sans-serif;
  color: #C726FF;
  font-size: 20px;
  text-align: start;
  margin-top: 20px;
}

.menu, .menu2 {
  background-color: #F6B3FC;
  margin-top: 40px;
}
.menu .nav-item, .menu2 .nav-item {
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
  font-size: 25px;
  list-style: none;
}
.menu .nav-item .nav-link, .menu2 .nav-item .nav-link {
  color: #C726FF;
}
.menu .nav-item .nav-link:hover, .menu2 .nav-item .nav-link:hover {
  color: #FFDDDD;
}

.menu2 {
  margin-top: 0px;
}

.fotos {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 100px;
  margin-left: 330px;
  margin-top: 50px;
}

.navbar {
  display: none;
}

a {
  color: #C726FF;
  text-decoration: none;
}

.form-row {
  margin-top: 30px;
}
.form-row .form-group {
  color: #C726FF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 40px;
}
.form-row .form-group .form-control {
  color: #C726FF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.formReserva {
  color: #C726FF;
}
.formReserva .form-group {
  color: #C726FF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 40px;
}
.formReserva .form-group .form-control {
  color: #C726FF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.card-deck {
  text-align: center;
}
.card-deck .card {
  width: 15%;
  height: 15%;
  display: inline-block;
}
.card-deck .card .card-img-top {
  -o-object-fit: fill;
     object-fit: fill;
  width: 200px;
  height: 200px;
}

.imagenFrasco {
  -o-object-fit: fill;
     object-fit: fill;
  width: 200px;
  height: 222px;
}

.card-title, .card-text {
  color: #C726FF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.card-text {
  color: #1EA6F2;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.redes .red {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100px;
  margin-top: 50px;
}

@media (min-width: 320px) and (max-width: 470px) {
  body {
    background-color: #FFDDDD;
    overflow-x: hidden;
    width: 95%;
  }
  .grid-inicio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5 fr 1fr;
    grid-template-areas: "logo" "hijo";
  }
  .logo {
    grid-area: logo;
    width: 100%;
    -webkit-border-radius: 100px;
    justify-self: center;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 100px;
    text-align: center;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-iteration-count: initial;
            animation-iteration-count: initial;
  }
  @-webkit-keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .grid-hijo {
    grid-area: hijo;
    justify-self: center;
  }
  .h1 {
    font-family: "Luckiest Guy", cursive;
    color: #DF7CE8;
    font-size: 60px;
    text-align: center;
    width: 100%;
    margin-top: 10%;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-iteration-count: initial;
            animation-iteration-count: initial;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .h4 {
    grid-area: h4;
    font-family: Arial, Helvetica, sans-serif;
    color: #DF7CE8;
    text-align: center;
    font-size: 25px;
    width: 100%;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-iteration-count: initial;
            animation-iteration-count: initial;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .h3 {
    display: none;
  }
  .display-2 {
    font-family: "Luckiest Guy", cursive;
    color: #DF7CE8;
    font-size: 35px;
    text-align: center;
    width: 100%;
    margin-left: 5%;
    margin-top: 20%;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-iteration-count: initial;
            animation-iteration-count: initial;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .text-center {
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
  .menu, .menu2 {
    background-color: #F6B3FC;
    border: #F6B3FC;
    justify-content: center;
    margin-left: 3%;
    width: 100%;
    margin-top: 15%;
  }
  .menu2 {
    display: none;
  }
  .navbar {
    display: block;
    background-color: #F6B3FC;
    border: #F6B3FC;
    justify-content: center;
    width: 105%;
    box-sizing: content-box;
  }
  .navbar .navbar-brand {
    font-family: "Luckiest Guy", cursive;
    color: #C726FF;
    font-size: 20px;
    text-align: start;
    width: 30%;
  }
  .nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #C726FF;
  }
  .nav-link:hover {
    color: #FFDDDD;
  }
  .navbar-toggler {
    margin-right: 5%;
  }
  .link:hover {
    color: #FFDDDD;
  }
  .imagenes {
    display: none;
  }
  a {
    font-family: Arial, Helvetica, sans-serif;
    color: #1EA6F2;
    font-size: 15px;
    text-align: center;
    width: 100%;
  }
  .boton {
    width: 60%;
  }
  .card-deck {
    text-align: center;
  }
  .card-deck .card {
    width: 80%;
    height: 50%;
    display: inline-block;
  }
  .card-deck .card .card-img-top {
    -o-object-fit: fill;
       object-fit: fill;
    width: 150px;
    height: 150px;
  }
  .imagenFrasco {
    -o-object-fit: fill;
       object-fit: fill;
    width: 150px;
    height: 152px;
  }
  .card-title, .card-text {
    color: #C726FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  .card-text {
    color: #1EA6F2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  textarea {
    width: 80%;
  }
  .redes {
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    width: 50%;
  }
  .redes .red {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 100px;
  }
}/*# sourceMappingURL=style.css.map */